.about {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  .about-wrapper {
    max-width: 50%;
    margin-left: 6%;
    padding-left: 10%;
    padding-right: 5%;
    .section-left {
      position: relative;
      width: 100%;
      padding-top: 5%;
      padding-bottom: 12%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .header-mask {
        text-align: left;
        position: relative;
        // margin-bottom: 5vh;
        width: 100%;
        .header {
          font-size: 13vw;
          font-weight: 500;
          margin: 0;
          display: block;
          text-align: left;
        }
      }
      .description-mask {
        font-size: 10px;
        letter-spacing: 1px;
        .quote {
          padding-bottom: 2%;
          margin-top: 2rem;
          font-family: "Montserrat", sans-serif;
          font-size: 2rem;
          font-weight: 400;
          line-height: 2rem;
        }
        .header {
          position: relative;
          margin-top: 0px;
          margin-bottom: 0vh;
          font-family: "Grandslang roman", sans-serif;
          font-size: 20px;
          line-height: 1.75em;
          font-weight: 500;
          text-align: left;
          letter-spacing: 4px;
          text-transform: uppercase;
        }
      }
      .work-button-container {
        width: 100%;
        margin-top: 1rem;
        .work-button {
          padding: 5px 20px;
          border-radius: 50px;
          background-color: #1a1818;
          -webkit-transition: padding 250ms ease-in-out;
          transition: padding 250ms ease-in-out;
          font-family: "Grandslang roman", sans-serif;
          color: #ece7e1;
          font-size: 24px;
          font-weight: 400;
          letter-spacing: 1px;
          text-decoration: none;
        }
      }
    }
  }
}
