.overlay-wrapper {
  position: relative;
  .overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    // display: none;
  }
  .content {
    position: absolute;
    filter: blur(4px);
  }
}
