.work {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  color: white;
  position: relative;
  .work-overlay {
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: #1a1919;
  }
  .work-wrapper {
    width: calc(100vw - 6%);
    height: 100%;
    margin-left: 6%;
    overflow-x: hidden;
    .section-left {
      height: 100%;
      width: 30%;
      position: fixed;
      display: flex;
      padding-top: 10%;
      flex-direction: column;
      justify-content: center;
      margin-left: 3rem;
      .header-mask {
        margin-bottom: 1rem;
        overflow: hidden;
        .header-mask-para {
          margin: 0;
          font-family: "Montserrat", sans-serif;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 2px;
          text-transform: uppercase;
          transform: translateY(1rem);
        }
      }
      .description-mask {
        overflow: hidden;
        .description-mask-para {
          max-width: 90%;
          margin: 0px;
          margin-bottom: 1rem;
          font-family: "Montserrat", sans-serif;
          font-size: 10px;
          line-height: 1.9em;
          font-weight: 400;
          transform: translateY(8rem);
        }
      }
    }
    .section-right {
      width: 70%;
      left: auto;
      right: 0%;
      margin-left: 25%;
      margin-right: 0px;
      padding-top: 5%;
      .work-list-item {
        margin-left: 10rem;
        filter: blur(20px);
        opacity: 0;
        .work-list-header {
          margin-top: 0;
          margin-bottom: 0;
          font-size: 6vw;
          transition: 0.1s;
          &:hover {
            transform: translateX(1rem) skew(-10deg);
          }
        }
        .work-list-para {
          margin: 0;
          font-size: 8px;
          padding-left: 0.5rem;
          text-transform: uppercase;
          letter-spacing: 1.5px;
          font-weight: 50;
        }
      }
    }
  }
}
